*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.calender {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 630px;
    margin: 0 auto;
    /* border: 2px solid; */
    padding: 10px;
    box-shadow: 1px 1px 12px 2px;
    border-radius: 16px;
    overflow: hidden;
}
.calender > header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(300, 50%, 60%);
    margin: -16px -16px 0;
    color: hsl(0deg 9.38% 91.76%);
    size: 1.5rem;
}
#full-date {
    font-weight: 600;
}
.calender .weeks, 
.calender .days {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.calender .days {
    flex-wrap: wrap;
}

.calender .weeks > p {
    font-weight: 600;
    flex: 0 0 50px;
    text-align: center;
}
.calender .days .date{
    flex: 0 0 50px;
    text-align: center;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.today {
    position: relative;

    font-weight: 600;
}
.today::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    inset: 0;
    transform: translate(15%, -25%);
    border: 2px solid hsl(239, 50%, 50%);
    border-radius: 50%;
}